version: '3'

volumes:
  kittygram_pg_data:
  kittygram_static:
  kittygram_media:

services:
  db:
    image: postgres:13
    env_file: .env
    volumes:
      - kittygram_pg_data:/var/lib/postgresql/data

  backend:
    build: ./backend/
    env_file: .env
    depends_on:
      - db
    volumes: 
      - kittygram_static:/backend_static
      - kittygram_media:/app/media
      - ./backend/:/backend/kittygram_backend/

  frontend:
    build: ./frontend/
    env_file: .env
    volumes:
      - kittygram_static:/app/build

  gateway:
    build: ./nginx/
    env_file: .env
    ports:
      - 9000:80
    volumes:
      - kittygram_static:/static
      - kittygram_media:/media
