version: '3'

volumes:
  pg_data:
  static:
  media:

services:
  db:
    image: postgres:13.10
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data

  kittygram_backend:
    image: mikhaillll/kittygram_backend:latest
    env_file: .env
    depends_on:
      - db
    volumes: 
      - static:/backend_static
      - media:/app/media

  kittygram_frontend:
    image: mikhaillll/kittygram_frontend:latest
    env_file: .env
    volumes:
      - static:/frontend_static

  kittygram_gateway:
    image: mikhaillll/kittygram_gateway:latest
    env_file: .env
    ports:
      - 9000:80
    volumes:
      - static:/staticfiles
      - media:/app/media